<%
%>

<div class="row">
    <div class="col-xxl-12 col-lg-12 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                    <a class="card-tool fullscreentoggler" target-closest-element=".card" href="#"><i class="fas fa-expand"></i></a>
                </span>
            </div>
            <div class="card-body border-0">
                <h5 class="card-title">Bienvenue <%= username %>!</h5>
                <p class="card-text">Pixel Admin version <%= version %></p>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-lg-6 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                    <a class="card-tool fullscreentoggler" target-closest-element=".card" href="#"><i class="fas fa-expand"></i></a>
                </span>
            </div>
            <div class="card-body border-0">
                <h5 class="card-title">Bienvenue</h5>
                <p class="card-text">Pixel Admin version <%= version %></p>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-lg-6 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                    <a class="card-tool fullscreentoggler" target-closest-element=".card" href="#"><i class="fas fa-expand"></i></a>
                </span>
            </div>
            <div class="card-body border-0">
                <h5 class="card-title">Bienvenue</h5>
                <p class="card-text">Pixel Admin version <%= version %></p>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-lg-4 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                    <a class="card-tool fullscreentoggler" target-closest-element=".card" href="#"><i class="fas fa-expand"></i></a>
                </span>
            </div>
            <div class="card-body border-0">
                <h5 class="card-title">Bienvenue!!</h5>
                <p class="card-text">Pixel Admin version <%= version %></p>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-lg-4 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                    <a class="card-tool fullscreentoggler" target-closest-element=".card" href="#"><i class="fas fa-expand"></i></a>
                </span>
            </div>
            <div class="card-body border-0">
                <h5 class="card-title">Bienvenue</h5>
                <p class="card-text">Pixel Admin version <%= version %></p>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-lg-4 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                    <a class="card-tool fullscreentoggler" target-closest-element=".card" href="#"><i class="fas fa-expand"></i></a>
                </span>
            </div>
            <div class="card-body border-0">
                <h5 class="card-title">Bienvenue</h5>
                <p class="card-text">Pixel Admin version <%= version %></p>
            </div>
        </div>
    </div>

</div>